<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs', {user}) %>
<%- include('../partials/sidebar.ejs') %>


<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">All Staffs</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                            href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Staffs</li>
                </ol>
            </div>
            </div>
       
       
   <!--ADD CONTENT HERE-->
   <ul class="nav nav-pills nav-pills-rose">
    <li class="nav-item tab-all"><a class="nav-link active show" href="#tab1" data-bs-toggle="tab">List
            View</a></li>
    <li class="nav-item tab-all"><a class="nav-link" href="#tab2" data-bs-toggle="tab">Grid View</a>
    </li>
</ul>

<!--ERROR MESSAGE-->

    <!-- ERROR MESSAGE -->
    <% if(error){ %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <div>
       <%= error %>
      </div>
    </div>
    <% } %>
    <!-- ERROR MESSAGE -->

<!--ERROR MESSAGE-->


<div class="tab-content tab-space">
    <div class="tab-pane active show" id="tab1">
        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <div class="card-head">
                        <button id="panel-button"
                            class="mdl-button mdl-js-button mdl-button--icon pull-right"
                            data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                            data-mdl-for="panel-button">
                            <li class="mdl-menu__item"><i
                                    class="material-icons">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item"><i class="material-icons">print</i>Another
                                action</li>
                            <li class="mdl-menu__item"><i
                                    class="material-icons">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width"
                                id="example4">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="center"> Name </th>
                                        <th class="center"> Role </th>
                                        <th class="center"> Mobile </th>
                                        <th class="center"> Email </th>
                                        <th class="center"> Address </th>
                                        <th class="center">Joining Date</th>
                                        <th class="center"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% staffs.forEach(staff => {%>
                                        <tr class="odd gradeX">
                                            <td class="user-circle-img sorting_1"> 
                                                <% if (staff.image) { %>
                                                    <img src="upload/<%= staff.image %>" class="img-fluid"
                                                    style = "width: 50px; height: 50px;" />
                                                
                                                <% } else { %>
                                                    <img src="upload/user_avatar.png" class="img-fluid" 
                                                    style = "width: 50px; height: 50px;"/> 
                                                <%}%>                                                                                                                                                                       
                                            </td>
                                            <td class="center"><%= staff.firstName + " " %> <%= staff.lastName %> </td>
                                            <td class="center">

                                                <form action="/staff/changeRole/<%= staff.role %>/<%= staff._id %>" method="post">
                                                    <button type="submit" class="btn <%= staff.role === "admin"? "btn-danger" : "btn-success" %>">
                                                        <%= staff.role %>
                                                    </button>
                                                </form>
                                                
                                            </td>
                                            <td class="center"><%= staff.mobile %></td>
                                            <td class="center"><%= staff.email %></td>
                                            <td class="center"><%= staff.address %></td>
                                            <td class="center"><%= dayjs(staff.joiningDate).format("DD.MM.YYYY.") %></td>
                                            <td class="center">
                                                <a href="/staff/edit/<%= staff._id %>"
                                                    class="btn btn-tbl-edit btn-xs">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a href="/staff/delete/<%= staff._id %>" class="btn btn-tbl-edit btn-xs">
                                                    <i class="fa fa-trash-o "></i>
                                                </a>
                                            </td>                                        
                                        </tr>
                                    <%}); %>                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>   
    </div>
<%- include('../partials/footer.ejs') %>
